In [33]:
import sys
sys.path.append('/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages')

In [34]:
import pandas as pd

import numpy as np

DATE, COUNTRY, LEAGUE, TYPE, SEASON, HOMET_TEAM, AWAY_TEAM, FTR,FTHG,FTAG,A_COR,H_COR,A_FL,H_FL,A_RC,H_RC

In [35]:
df = pd.read_csv ('CL_data.csv')
df

,DATE,COUNTRY,LEAGUE,TYPE,SEASON,HOME_TEAM,AWAY_TEAM,FTR,FTHG,FTAG,...,H_YC,H_RC,A_ST,A_SOG,A_SFG,A_PT,A_COR,A_FL,A_YC,A_RC
0,2020-08-08,Europe,Champions League,CUP,2020/2021,Tre Fiori,Linfield,A,0,2,...,0,0,0,SNV,SNV,SNV,0,SNV,0,0
1,2020-08-08,Europe,Champions League,CUP,2020/2021,Drita,Inter Club d'Escaldes,H,2,1,...,0,0,0,SNV,SNV,SNV,0,SNV,0,0
2,2020-08-18,Europe,Champions League,CUP,2020/2021,Celtic,KR,H,6,0,...,0,0,5,2,3,31,2,9,0,0
3,2020-08-18,Europe,Champions League,CUP,2020/2021,Dinamo Brest,Astana,H,6,3,...,1,0,19,10,9,61,10,9,0,0
4,2020-08-18,Europe,Champions League,CUP,2020/2021,Crvena Zvezda,Europa FC,H,5,0,...,1,0,5,3,2,30,0,8,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,2021-04-27,Europe,Champions League,CUP,2020/2021,Real Madrid,Chelsea,D,1,1,...,5,0,10,4,6,50,6,9,1,0
173,2021-04-28,Europe,Champions League,CUP,2020/2021,Paris Saint Germain,Manchester City,A,1,2,...,2,1,11,6,5,60,4,15,2,0
174,2021-05-04,Europe,Champions League,CUP,2020/2021,Manchester City,Paris Saint Germain,H,2,0,...,2,0,15,1,14,56,6,13,4,1
175,2021-05-05,Europe,Champions League,CUP,2020/2021,Chelsea,Real Madrid,H,2,0,...,3,0,7,5,2,68,3,12,4,0
176,2021-05-29,Europe,Champions League,CUP,2020/2021,Manchester City,Chelsea,A,0,1,...,2,0,8,2,6,40,1,13,1,0

In [36]:
newDB = df[['DATE','COUNTRY','LEAGUE', 'SEASON', 'HOME_TEAM', 'AWAY_TEAM', 'FTR','FTHG','FTAG','A_COR','H_COR','A_FL','H_FL','A_RC','H_RC']]

In [37]:
newDB.to_pickle('skrt.db')

In [38]:
col = np.linspace(0,176,177)

In [39]:
#newDB.insert(0,'MATCHID',col,allow_duplicates = True)
newDB

,DATE,COUNTRY,LEAGUE,SEASON,HOME_TEAM,AWAY_TEAM,FTR,FTHG,FTAG,A_COR,H_COR,A_FL,H_FL,A_RC,H_RC
0,2020-08-08,Europe,Champions League,2020/2021,Tre Fiori,Linfield,A,0,2,0,0,SNV,SNV,0,0
1,2020-08-08,Europe,Champions League,2020/2021,Drita,Inter Club d'Escaldes,H,2,1,0,0,SNV,SNV,0,0
2,2020-08-18,Europe,Champions League,2020/2021,Celtic,KR,H,6,0,2,9,9,5,0,0
3,2020-08-18,Europe,Champions League,2020/2021,Dinamo Brest,Astana,H,6,3,10,3,9,6,0,0
4,2020-08-18,Europe,Champions League,2020/2021,Crvena Zvezda,Europa FC,H,5,0,0,6,8,11,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,2021-04-27,Europe,Champions League,2020/2021,Real Madrid,Chelsea,D,1,1,6,4,9,11,0,0
173,2021-04-28,Europe,Champions League,2020/2021,Paris Saint Germain,Manchester City,A,1,2,4,6,15,10,0,1
174,2021-05-04,Europe,Champions League,2020/2021,Manchester City,Paris Saint Germain,H,2,0,6,6,13,16,1,0
175,2021-05-05,Europe,Champions League,2020/2021,Chelsea,Real Madrid,H,2,0,3,1,12,18,0,0
176,2021-05-29,Europe,Champions League,2020/2021,Manchester City,Chelsea,A,0,1,1,3,13,14,0,0

In [40]:
#newDB.to_csv('skrt.csv')

In [41]:
newDB['HOME_TEAM'].values

array(['Tre Fiori', 'Drita', 'Celtic', 'Dinamo Brest', 'Crvena Zvezda',
       'Legia Warszawa', 'QarabaÄŸ', 'Dinamo Tbilisi', 'Ararat-Armenia',
       'Celje', 'Sheriff', 'FerencvÃ¡ros', 'BuduÄ‡nost', 'Floriana',
       'Molde', 'Flora', 'Maccabi Tel Aviv', "Connah's Quay", 'KÃ\x8d',
       'PAOK', 'Tirana', 'Lokomotiva Zagreb', 'Celje', 'QarabaÄŸ',
       'AZ Alkmaar', 'SÅ«duva', 'Celtic', 'Young Boys', 'Ludogorets',
       'Dinamo Brest', 'Legia Warszawa', 'CFR Cluj', 'PAOK',
       'Dynamo Kyiv', 'Gent', 'Omonia Nicosia', 'QarabaÄŸ', 'Midtjylland',
       'FerencvÃ¡ros', 'Maccabi Tel Aviv', 'Maccabi Tel Aviv',
       'Slavia Praha', 'Krasnodar', 'Olympiakos Piraeus', 'Molde', 'Gent',
       'Omonia Nicosia', 'FerencvÃ¡ros', 'Dynamo Kyiv', 'PAOK',
       'Midtjylland', 'Salzburg', 'Paris Saint Germain', 'Rennes',
       'Zenit', 'Dynamo Kyiv', 'Barcelona', 'Chelsea', 'RB Leipzig',
       'Lazio', 'Inter', 'Olympiakos Piraeus', 'Manchester City',
       'Salzburg', 'Midtjylland', 'Ajax', 'Real Madrid',
       'Bayern MÃ¼nchen', 'Porto', 'Lokomotiv Moskva', 'Atalanta',
       'Olympique Marseille', 'AtlÃ©tico Madrid', "Borussia M'gladbach",
       'Shakhtar Donetsk', 'Liverpool', 'Manchester United',
       'Borussia Dortmund', 'Ä°stanbul BaÅŸakÅŸehir', 'FerencvÃ¡ros',
       'Sevilla', 'Juventus', 'Club Brugge', 'Krasnodar',
       'Shakhtar Donetsk', 'Manchester City', 'Real Madrid', 'Salzburg',
       'Lokomotiv Moskva', 'Midtjylland', 'Porto', 'Atalanta', 'Sevilla',
       'FerencvÃ¡ros', 'Barcelona', 'Chelsea', 'Zenit',
       'Ä°stanbul BaÅŸakÅŸehir', 'RB Leipzig', 'Club Brugge',
       'Manchester United', 'Rennes', 'Lazio', 'Borussia Dortmund',
       'Juventus', 'Paris Saint Germain', 'Dynamo Kyiv', 'Krasnodar',
       'Olympique Marseille', 'Liverpool', 'Olympiakos Piraeus',
       'AtlÃ©tico Madrid', "Borussia M'gladbach", 'Inter',
       'Bayern MÃ¼nchen', 'Ajax', "Borussia M'gladbach",
       'Olympique Marseille', 'Porto', 'AtlÃ©tico Madrid', 'Liverpool',
       'Atalanta', 'Lokomotiv Moskva', 'Shakhtar Donetsk', 'FerencvÃ¡ros',
       'Krasnodar', 'Borussia Dortmund', 'Club Brugge', 'Juventus',
       'Sevilla', 'Ä°stanbul BaÅŸakÅŸehir', 'Manchester United',
       'Barcelona', 'Zenit', 'RB Leipzig', 'Dynamo Kyiv', 'Lazio',
       'Rennes', 'Chelsea', 'Ajax', 'Salzburg', 'Paris Saint Germain',
       'Olympiakos Piraeus', 'Bayern MÃ¼nchen', 'Manchester City',
       'Inter', 'Real Madrid', 'Midtjylland', 'Barcelona', 'RB Leipzig',
       'Sevilla', 'Porto', 'Lazio', 'AtlÃ©tico Madrid', 'Atalanta',
       "Borussia M'gladbach", 'Borussia Dortmund', 'Juventus',
       'Paris Saint Germain', 'Liverpool', 'Manchester City',
       'Real Madrid', 'Chelsea', 'Bayern MÃ¼nchen', 'Manchester City',
       'Real Madrid', 'Bayern MÃ¼nchen', 'Porto', 'Chelsea',
       'Paris Saint Germain', 'Liverpool', 'Borussia Dortmund',
       'Real Madrid', 'Paris Saint Germain', 'Manchester City', 'Chelsea',
       'Manchester City'], dtype=object)

In [42]:
I = (newDB['HOME_TEAM'] == 'Bayern MÃ¼nchen')

In [43]:
I = (newDB['AWAY_TEAM'] == 'Bayern MÃ¼nchen')

In [44]:
newDB.loc[I,'HOME_TEAM'] = 'Bayern Munchen'

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [45]:
newDB.loc[I,'AWAY_TEAM'] = 'Bayern Munchen'

In [46]:
I = (newDB['HOME_TEAM'] == 'AtlÃ©tico Madrid')

In [47]:
newDB.loc[I,'HOME_TEAM'] = 'Atletico Madrid'

In [48]:
I = (newDB['HOME_TEAM'] == 'Ä°stanbul BaÅŸakÅŸehir')

In [49]:
newDB.loc[I,'HOME_TEAM'] = 'Istanbul Basaksehir'

In [50]:
I = (newDB['HOME_TEAM'] == 'SÅ«duva')

In [51]:
newDB.loc[I,'HOME_TEAM'] = 'Suduva'

In [52]:
I = (newDB['HOME_TEAM'] == 'BuduÄ‡nost')

In [53]:
newDB.loc[I,'HOME_TEAM'] = 'Buducnost '

In [54]:
I = (newDB['HOME_TEAM'] == 'FerencvÃ¡ros')

In [55]:
newDB.loc[I,'HOME_TEAM'] = 'Ferencvarosi'

In [56]:
I = (newDB['HOME_TEAM'] == 'KÃ\x8d')

In [57]:
newDB.loc[I,'HOME_TEAM'] = 'KI'

In [58]:
I = (newDB['HOME_TEAM'] == 'QarabaÄŸ')

In [59]:
newDB.loc[I,'HOME_TEAM'] = 'Qarabag'

In [60]:
I = (newDB['HOME_TEAM'] == 'QarabaÄŸ')

In [61]:
newDB.loc[I,'HOME_TEAM'] = 'Qarabag'

In [62]:
newDB['HOME_TEAM'].values

array(['Tre Fiori', 'Drita', 'Celtic', 'Dinamo Brest', 'Crvena Zvezda',
       'Legia Warszawa', 'Qarabag', 'Dinamo Tbilisi', 'Ararat-Armenia',
       'Celje', 'Sheriff', 'Ferencvarosi', 'Buducnost ', 'Floriana',
       'Molde', 'Flora', 'Maccabi Tel Aviv', "Connah's Quay", 'KI',
       'PAOK', 'Tirana', 'Lokomotiva Zagreb', 'Celje', 'Qarabag',
       'AZ Alkmaar', 'Suduva', 'Celtic', 'Young Boys', 'Ludogorets',
       'Dinamo Brest', 'Legia Warszawa', 'CFR Cluj', 'PAOK',
       'Dynamo Kyiv', 'Gent', 'Omonia Nicosia', 'Qarabag', 'Midtjylland',
       'Ferencvarosi', 'Maccabi Tel Aviv', 'Maccabi Tel Aviv',
       'Slavia Praha', 'Krasnodar', 'Olympiakos Piraeus', 'Molde', 'Gent',
       'Omonia Nicosia', 'Ferencvarosi', 'Dynamo Kyiv', 'PAOK',
       'Midtjylland', 'Salzburg', 'Paris Saint Germain', 'Rennes',
       'Zenit', 'Dynamo Kyiv', 'Barcelona', 'Chelsea', 'RB Leipzig',
       'Lazio', 'Inter', 'Olympiakos Piraeus', 'Manchester City',
       'Salzburg', 'Midtjylland', 'Ajax', 'Real Madrid',
       'Bayern MÃ¼nchen', 'Porto', 'Bayern Munchen', 'Atalanta',
       'Olympique Marseille', 'Atletico Madrid', "Borussia M'gladbach",
       'Shakhtar Donetsk', 'Liverpool', 'Manchester United',
       'Borussia Dortmund', 'Istanbul Basaksehir', 'Ferencvarosi',
       'Sevilla', 'Juventus', 'Club Brugge', 'Krasnodar',
       'Shakhtar Donetsk', 'Manchester City', 'Real Madrid',
       'Bayern Munchen', 'Lokomotiv Moskva', 'Midtjylland', 'Porto',
       'Atalanta', 'Sevilla', 'Ferencvarosi', 'Barcelona', 'Chelsea',
       'Zenit', 'Istanbul Basaksehir', 'RB Leipzig', 'Club Brugge',
       'Manchester United', 'Rennes', 'Lazio', 'Borussia Dortmund',
       'Juventus', 'Paris Saint Germain', 'Dynamo Kyiv', 'Krasnodar',
       'Olympique Marseille', 'Liverpool', 'Olympiakos Piraeus',
       'Atletico Madrid', "Borussia M'gladbach", 'Inter',
       'Bayern MÃ¼nchen', 'Ajax', "Borussia M'gladbach",
       'Olympique Marseille', 'Porto', 'Bayern Munchen', 'Liverpool',
       'Atalanta', 'Lokomotiv Moskva', 'Shakhtar Donetsk', 'Ferencvarosi',
       'Krasnodar', 'Borussia Dortmund', 'Club Brugge', 'Juventus',
       'Sevilla', 'Istanbul Basaksehir', 'Manchester United', 'Barcelona',
       'Zenit', 'RB Leipzig', 'Dynamo Kyiv', 'Lazio', 'Rennes', 'Chelsea',
       'Ajax', 'Salzburg', 'Paris Saint Germain', 'Olympiakos Piraeus',
       'Bayern MÃ¼nchen', 'Manchester City', 'Inter', 'Real Madrid',
       'Midtjylland', 'Barcelona', 'RB Leipzig', 'Sevilla', 'Porto',
       'Bayern Munchen', 'Atletico Madrid', 'Atalanta',
       "Borussia M'gladbach", 'Borussia Dortmund', 'Juventus',
       'Paris Saint Germain', 'Liverpool', 'Manchester City',
       'Real Madrid', 'Chelsea', 'Bayern MÃ¼nchen', 'Manchester City',
       'Real Madrid', 'Bayern MÃ¼nchen', 'Porto', 'Chelsea',
       'Bayern Munchen', 'Liverpool', 'Borussia Dortmund', 'Real Madrid',
       'Paris Saint Germain', 'Manchester City', 'Chelsea',
       'Manchester City'], dtype=object)

In [63]:
newDB.to_csv('skrt.csv')

In [64]:
newDB.to_pickle("asd.db")

In [65]:
['str']*16

['str',
 'str',
 'str',
 'str',
 'str',
 'str',
 'str',
 'str',
 'str',
 'str',
 'str',
 'str',
 'str',
 'str',
 'str',
 'str']